<!DOCTYPE html>
<html lang="en">
<head>
    <title>Harvester Admin</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/app_dev.php/admin/">Admin</a>
        </div>

        <ul class="nav navbar-nav navbar-left">
            <li><a href="/app_dev.php/admin/users">Users</a></li>
        </ul>

    </div>
</nav>

<div class="container">
    <h1>Admin</h1>
    <div class="content">
        {% include('HarvesterAdminBundle:Default:messages.html.twig') %}
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>