parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    default_hours_per_day:  7.5
    default_billable_hours_goal: 6

mattvick_harvest_app:
    user:      'harvest_account_email@email.com'
    password:  'secretpassword'
    account:   'harvestapp_account_name'
