<!DOCTYPE html>
<html lang="en">
<head>
    <title>Harvester Admin</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/app_dev.php/admin/">Admin</a>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/app_dev.php/admin/users?active=1">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/app_dev.php/logout">Logout</a></li>
            </ul>
        {% endif %}

    </div>
</nav>

<div class="container">
    {% if is_granted('ROLE_ADMIN') %}
        <h1>Admin</h1>
    {% endif %}
    <div class="content">
        {% include('HarvesterAdminBundle:Admin:messages.html.twig') %}
        {% block body %}{% endblock %}
    </div>

</div>
</body>
</html>