{% extends "reloaddkHarvesterBundle:Admin:base.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% if error %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ error.message }}
                    </div>
                {% endif %}

                <form action="{{ path("login_check") }}" method="post" role="form" class="form-inline">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Please login</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                        <input type="text" placeholder="Email" id="username" class=" form-control" name="_username" value="{{ last_username }}" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="password" class="form-control" placeholder="Password" name="_password" />
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}